
/**************************************
Homepage start
**************************************/
body{
  background-color: #dedcdc;
}
/************
header
************/
#header-nav{
	text-decoration: none;
  text-align: center;
	background-color: #383333;
}
#nav-start{
 color: #f7f7f7;
 margin-right: 0px;
 padding-left: 5%;
 font-size: 1.5em;
 }
#nav-start:hover { 
  color: #b8e6c3; 
}
#nav-mid{
 color: #f7f7f7;
 font-size: 1.5em;
 margin-right: 4%;
 text-decoration: none;
}
#nav-mid:hover { 
  color: #b8e6c3; 
}
#nav-end {
 color: #a0dedc;
 padding-right: 5%;
 font-style: italic;
 font-size: 1.5em;
}

/***********
body
main content
************/
#step-sequencer-body{
  height:500px ;
  width: 50%;
  background-color: #414f45;
  text-align: center;
  border-width: 1px;
  margin-top:20px;
}

/************
step-sequencer-body top
************/
#step-sequencer-top{
margin-bottom: 10px;
}

.BPM-display{
display: block;
    width: 50px;
    height: 50px;
    margin-top:20px;
    margin-right: 0px;
    margin-left: 20px;
border-style: solid;
border-color: #1e241f;    
border-width: 4px; 
}
.p-BPM{
font-family: Oxanium;
line-height: 1.2;
font-weight: bold;
color:#000000;
}
.BPM{

}
.BPM-slider{
    width: 150px;
    height: 50px;
    margin-top:20px;
    margin-right: 10px;
    margin-left: 10px;
border-style: solid;
border-color: #1e241f;    
border-width: 4px;

}
.play-button{
display: block;
    width: 50px;
    height: 50px;
    margin-top:20px;
    margin-right: 0px;
    margin-left: 20px;
background-color: #414f45;
border-style: solid;
border-color: #1e241f;    
border-width: 4px; 
color:#000000;
}
.play-icon{
    width: 14px;
    height: 14px;

}
.text-block{
font-family: Oxanium;
line-height: 1.2;
font-weight: bold;
color:#000000;

}
.step-sequencer-name{
display: block;
    width: 120px;
    height: 50px;
    margin-top:20px;
    margin-right: 0px;
    margin-left: 53%;
border-style: solid;
border-color: #1e241f;    
border-width: 4px; 
}
.step-sequencer-p-1{
text-align: center;
font-family: Oxanium;
line-height: 1.2;
color:#000000;
}

.step-sequencer-s-1 {
text-align: center;
font-weight: bold;
color:#000000;
}
.step-sequencer-s-1 span{
text-align: center;
font-weight: 300;
color:#000000;
}
/************
control for all grids
************/



/************
channel
************/
#step-sequencer{
height: 80px;
background-color: #395943;
}
.step-sequencer-row {
display:inline-block;
    height: 80px;
    width: 300px;
    margin-bottom:10px;

}
.controls{
   display:inline-block;
   margin-top: 10px;

}
.h2 {
font-family: Oxanium;
line-height: normal;
font-weight: bold;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: -20px;
    display:inline-block; 
    vertical-align:middle;
}
.mute-button{
display: inline-block;
background-color: #4d6956;
border-radius: 20px; 
margin-left: -10px;   
width: 30px;
height: 30px;
}
.mute-button:active{ /**for script **/
background-color: #daf7e3;  
}
.img-mute{
margin-top: -5px;
margin-left: -2px;
width: 18px;
height: 18px;
}
.form-block{
display:inline-block;
font-family: Oxanium;
color: #4d6956;
height: 50px;
width: 100px; 
}
select{
background-color: #4d6956;

}
#change{
font-family: Oxanium;
line-height: 1.2;
font-weight: bold;
background-color: #4d6956;
color:#000000;
margin-left: 20px;
display:inline-block;
}
/********************
pad grid/pad/tap-pad
********************/
.pad-grid{
  display:inline;
  width: 65%;
  height: 60px;
  background-color: #4d805d;
  border-style: solid;
  border-radius: 5px;
  border-color: #4d805d;    
  border-width: 4px;
  margin: 10px;
  margin-left: 20px;
}
.pad{
    display:inline-block;
    width: 30px;
    height: 40px;
    margin-top: 5px;
    text-align: center;
      border-style: solid;
      border-color: #1e241f;    
      border-width: 4px;
    background-color: #ceebd7;
    border-radius: 8px;
}
.pad:hover{           /**for script **/
border-color: #748c78;  
}
.pad:hover{           /**for script **/
background-color: #1e3023;  
}
.tap-pad{
  display:inline;
      text-align: center;
    width: 30px;
    height: 40px;
}
.space-grid{
     display:inline-block;
     margin: 2px; 
}

/************
Footer
************/

.footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #453f3f;
  text-align: center;

}
.footer .container{
  color: white;
  margin-bottom: 20px;
}
#footercontainer {
  margin-top: 12px;
}

/**************************************
Homepage end
**************************************/



/*Media Queries 
  If the browser window is smaller, the css will be changed 
  Example
  https://www.w3schools.com/css/css_rwd_mediaqueries.asp

*/

/********** Large devices only **********/
@media (min-width: 1200px) {
  /**************************************
Homepage start
**************************************/
/************
Header
************/



/************
Body
Main content
************/


/************
Footer
************/


/**************************************
Homepage end
**************************************/
 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 /**************************************
Homepage start
**************************************/
/************
Header
************/
#header-nav{
  height: 50px;
}

#nav-start{
  font-size: 1.2em;
  margin-top: -5px;
}
#nav-mid{
  font-size: 1.2em;
  margin-top: -5px;
  margin-right: 5%;
}
#nav-end {
  font-size: 1.2em;
  margin-top: -5px;
}


/************
Body
Main content
************/
img{
  height: 250px;
  width: 80%;

}
#img-tile{
  height: 260px;
  width: 80%;
}

#map{
  height: 250px;
  width: 80%;
}
#map-tile{
  height: 260px;
  width: 80%;
}


/************
Footer
************/


/**************************************
Homepage end
**************************************/
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 /**************************************
Homepage start
**************************************/
/************
Header
************/
#nav-start{
  font-size: 1.1em;
  margin-top: -5px;
}
#nav-mid{
  font-size: 1.1em;
  margin-top: -5px;
}
#nav-end {
  font-size: 1.1em;
  margin-top: -5px;
}


/************
Body
Main content
************/
img{
  height: 210px;
  width: 80%;

}
#img-tile{
  height: 220px;
  width: 80%;
}

#map{
  height: 210px;
  width: 80%;
}
#map-tile{
  height: 220px;
  width: 80%;
}
#img-tile-text {
  font-size:0.9em;
}

#map-tile-text {
  font-size:0.9em;
}

/************
Footer
************/
.footer {
  height: 40px;
}
#footercontainer {
  margin-top: 8px;
}

/**************************************
Homepage end
**************************************/
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
 /**************************************
Homepage start
**************************************/
/************
Header
************/



/************
Body
Main content
************/



/************
Footer
************/


/**************************************
Homepage end
**************************************/
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
 /**************************************
Homepage start
**************************************/
/************
Header
************/



/************
Body
Main content
************/



/************
Footer
************/


/**************************************
Homepage end
**************************************/
}